<p class="mt-2 mb-0 pt-2 pb-1 d-inline-block pos-relative"> {{totalRecords}} Records Fetched</p>
<div class="table-responsive">
  <p-table #dataTable class="ptable-container custom-pagination" [columns]="columns" [rows]="nOfRecordPage" [value]="value"
    [paginator]="true" (onPage)="paginate($event)" [first]="first" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,20,50,100]"
    (sortFunction)="customSort($event)" [customSort]="true" selectionMode="single" [selection]="selectedRows"  >

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" id="table-header">
          <span class="table-head-content">{{col.header}}</span>

          <span *ngIf="col.header === 'Catalyst Volume'">
            <app-uom-ctrl uomCtrl=false feedData=false [(defaultunit)]="volumeUnit" pHolder="Catalyst Volume"
              variableCategory="Catalyst Loading Template" variableName="Catalyst Volume"
              (defaultunitChange)="unitChange($event)" class="loadingTypeDropdown"></app-uom-ctrl>
          </span>
          <span *ngIf="col.header === 'IBP'">

            <app-uom-ctrl uomCtrl=false feedData=false [(defaultunit2)]="volumeUnit" pHolder="IBP"
              variableCategory="Manage Feed Variables" variableName="ctable" (defaultunitChange2)="unitChange2($event)"
              class="ibp-volumeUnitDropdown"></app-uom-ctrl>
          </span>

          <span *ngIf="col.header === 'FBP'">

            <app-uom-ctrl uomCtrl=false feedData=false [(defaultunit1)]="volumeUnit" pHolder="IBP"
              variableCategory="Manage Feed Variables" variableName="ctable" (defaultunitChange1)="unitChange1($event)"
              class="fbp-volumeUnitDropdown"></app-uom-ctrl>

          </span>
          <span *ngIf="col.header === 'Total Quantity'">

            <app-uom-ctrl uomCtrl=false feedData=false [(defaultunit3)]="LB" pHolder="Total Quantity" variableCategory="Catalyst Variables"
            variableName="Quantity" (defaultunitChange3)="unitChange3($event)" 
              class="inventorydropdown"></app-uom-ctrl>

          </span>

          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" *ngIf="col.header !=='Action'"
            ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns; let i=index" [ngStyle]="{'min-width':'120px','max-width':'300px'}"
          [ngClass]="{'td-150-px': col.field === 'baseUnitStatus'}">
          <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
          <ng-template #nested_object_content>
            <div (click)="onRoleEditClick(rowData)">{{rowData[col.field][col.subfield]}}</div>
            <span class="float-left mt-1 mr-2" *ngIf="col.header === 'Status'"
              [ngClass]="{'active-status':rowData.status.name==='Active','inactive-status':rowData.status.name==='Inactive'}"></span>
          </ng-template>
          <ng-template #normal_content>
            <span class="float-left mt-1 mr-2" *ngIf="col.header === 'Status' "
              [ngClass]="{'active-status':rowData.status==='Active','inactive-status':rowData.status==='Inactive','closed-status':rowData.status==='Closed'}"></span>
            <span class="float-left mt-1 mr-2" *ngIf="col.header === 'Status' "
              [ngClass]="{'active-status':rowData.projectStatusName==='Active','inactive-status':rowData.projectStatusName==='Inactive','closed-status':rowData.projectStatusName==='Closed'}"></span>
            <p *ngIf="col.field === 'colorCode'" (click)="onRoleEditClick(rowData)"
              [ngStyle]="{'background-color':rowData.colorCode}" style="width: 50px; height: 12px;"> </p>
            <span (click)="onRoleEditClick(rowData)" class="full_width"
              *ngIf="col.header !== 'Action' && col.field !== 'totalQuantity'  && col.field !== 'UomVariableName' && col.field !== 'colorCode' &&  col.header !== 'Equipment Name' && col.header !== 'File Name' && col.header !=='IBP' && col.header !=='FBP'">
              {{rowData[col.field]}}
            </span>
            <input type="checkbox" (change)="onRadioButtonClick($event, rowData)"
              id="default-checbox {{rowData.UomTemplateName}}" [(ngModel)]="rowData.checked" alt=""
              class="float-left text-left mt-1 pt-2 mr-2"
              *ngIf="col.header !== 'Action' && col.field === 'UomDefault' && col.header !== 'Equipment Name'" />
            <span class="float-right text-right" (click)="onRoleEditClick(rowData)"></span>
            <span (click)="onRoleEditClick(rowData)"
              *ngIf="col.header !== 'Action' && col.field === 'UomVariableName' &&  col.header !== 'Equipment Name'">
              <a (click)="onEquipmentNameClick(rowData ,i)"
                *ngIf="col.field === 'UomVariableName' && col.field !== 'Equipment Name'">
                <i class="fa fa-file" aria-hidden="true"></i> <button type="button">{{rowData[col.field]}}
                </button></a>
            </span>
            <span (click)="onRoleEditClick(rowData)" *ngIf="col.header !== 'Action' ">
              <a *ngIf="col.header === 'Equipment Name'">{{rowData[col.field]}}</a>
            </span>
            <span (click)="onRoleEditClick(rowData)" *ngIf="col.header !== 'Action' && col.header === 'File Name' ">
              <i class="fa fa-file {{rowData[col.field].split('.')[1]}}" aria-hidden="true"></i> {{rowData[col.field]}}
            </span>
            <span *ngIf="col.field == 'calibrationButton'" (click)="onEquipmentNameClick(rowData ,i)">
              <i class="fa fa-file" aria-hidden="true"></i> <button type="button">Calibration</button>
            </span>
            <span (click)="onRoleEditClick(rowData)" *ngIf="col.header === 'Role'">
              <span *ngFor="let role of rowData.userApplicationRole">
                {{role.rolename}}
              </span>
            </span>

            <span (click)="onRoleEditClick(rowData)" *ngIf="col.header === 'Catalyst Volume'">


              <span *ngFor="let LoadingData of rowData.beds">
                <span *ngIf="LoadingData.volume!=null">
                  {{LoadingData.volume | display: customTableDTO.selectedtemplate }} |
                </span>
              </span>


            </span>
            <div (click)="onRoleEditClick(rowData)" *ngIf="col.header === 'Total Quantity'">


            
                <div *ngIf="rowData.totalQuantity!=null">
                  {{rowData.totalQuantity | display: customTableDTO.selectedtemplate3 }} 
                </div>
            


              </div>

            <span *ngIf="col.header === 'Select'">
              <input type="checkbox" (change)="onCheckBoxSelect($event, rowData)" id="default-checbox"
                [(ngModel)]="rowData.checked" alt="" />
            </span>
            <span (click)="onRoleEditClick(rowData)" *ngIf="col.header === 'IBP'">
              <span *ngIf="rowData.ibp != null">
                {{rowData.ibp | display: customTableDTO.selectedtemplate2 }}
              </span>

            </span>
            <span (click)="onRoleEditClick(rowData)" *ngIf="col.header === 'FBP'">
              <span *ngIf="rowData.fbp != null">
                {{rowData.fbp | display: customTableDTO.selectedtemplate1 }}
              </span>

            </span>


          </ng-template>


          <button *ngIf="col.header === 'Action'" class="btn btn-privilege" type="button"
            (click)="deleteConfirmation(rowData)">
            <img src="assets/images/delete-icon.svg" alt="delete">
          </button>

        </td>
      </tr>
    </ng-template>
  </p-table>
</div>