<div class="main-container mb-5 float-left">
    <div class="col-lg-12 pt-4">

        <div class="inner-container">
            <h3 class="pt-3 pb-3 pl-3 pr-3">Plant - Plant</h3>
            <div *ngIf="plantService.loading" class="overlay_loader">
                <div class="overlay__inner">
                    <div class="overlay__content"><span class="spinner"></span></div>
                </div>
            </div>
            <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" [formGroup]="plantDTO.plantForm">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="form-group">
                            <label>Technology <span class="mandatory-feild"></span></label>
                            <select class="form-control" formControlName="technology" [(ngModel)]="plant.technologyId"
                                disabled>
                                <option *ngFor="let technology of plantDTO.technology"
                                    [value]="technology.technologyId">{{technology.technologyName}}</option>
                            </select>
                            <app-error [control]=plantDTO.plantForm.controls.technology></app-error>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="form-group">
                            <label>Plant Code <span class="mandatory-feild"></span></label>
                            <input type="text" formControlName="code" [(ngModel)]="plant.code" class="form-control"
                                placeholder="Plant code">
                            <app-error [control]=plantDTO.plantForm.controls.code></app-error>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="form-group">
                            <label>Location Name <span class="mandatory-feild"></span></label>
                            <select class="form-control" formControlName="location" [(ngModel)]="plant.locationId"
                                (change)="changeLocation(plant.locationId)">
                                <option [ngValue]="null" disabled [selected]="plantDTO.locationList">Select</option>
                                <option *ngFor="let location of plantDTO.locationList" [value]="location.id">
                                    {{location.locationName}}</option>
                            </select>
                            <app-error [control]=plantDTO.plantForm.controls.location></app-error>

                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="form-group">
                            <label>Building Number <span class="mandatory-feild"></span></label>
                            <select class="form-control" formControlName="buildingId" [(ngModel)]="plant.buildingId">
                                <option [ngValue]="null" disabled [selected]="true">Select </option>
                                <option *ngFor="let building of plantDTO.buildingNumberList" [value]="building.id">
                                    {{building.buildingNumber}}</option>
                            </select>
                            <app-error [control]=plantDTO.plantForm.controls.buildingId></app-error>

                        </div>
                    </div>


                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="form-group">
                            <label>Sulfiding/Reducing Plant <span class="mandatory-feild"></span></label>
                            <select class="form-control" formControlName="plantTypeStatus"
                                [(ngModel)]="plant.plantTypeStatus">
                                <option [ngValue]="null" disabled [selected]="true">Select </option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                            <app-error [control]=plantDTO.plantForm.controls.plantTypeStatus></app-error>

                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="form-group">
                            <label>Status <span class="mandatory-feild"></span></label>
                            <select class="form-control" formControlName="status" [(ngModel)]="plant.status">
                                <option [ngValue]="null" [selected]="true" disabled>select </option>
                                <option *ngFor="let status of plantDTO.statusList" [value]="status.id">{{status.status}}
                                </option>
                            </select>
                            <app-error [control]=plantDTO.plantForm.controls.status></app-error>

                        </div>
                    </div>

                    <div class="col-lg-12 col-xl-12 mt-2">
                        <p class="mandatory-para p-0 mt-0 mb-2 ml-0 mr-0">All fields marked with <span
                                class="mandatory-feild"></span> are mandatory.</p>
                        <button type="button" class="btn btn-transparent mr-3 mb-3" data-dismiss="modal"
                            (click)="onResetClick()">Reset</button>
                        <button type="button" class="btn btn-transparent mr-3 mb-3" data-dismiss="modal"
                            [disabled]="!(plantDTO.plantForm.dirty || plantDTO.isEnable)"
                            (click)="find(plant)">Find</button>
                        <button id="submit" type="button"
                            [disabled]="(!plantDTO.plantForm.valid || plantDTO.isDisable) " class="btn btn-default mb-3"
                            [hidden]="!plantDTO.privilege" (click)="saveplantData(plant)">Save</button>
                    </div>

                </div>
            </form>

        </div>

        <div class="row">
            <div class="col-lg-12 col-xl-12 pt-2 mb-2">
                <div *ngIf="plantDTO.totalRecords > 0  then dataTable else noData"></div>
                <ng-template #dataTable>
                    <app-custom-table [columns]="plantDTO.columns" [value]="plantDTO.rows"
                        [nOfRecordPage]="plantDTO.nOfRecordPage" [totalRecords]="plantDTO.totalRecords"
                        (ondelete)="deleteConfirmation($event)" (onEdit)="onRoleEditClick($event)"
                        [selectedRows]="plant"></app-custom-table>
                </ng-template>

                <ng-template #noData>
                    <div class="inner-container mt-3 mb-2 p-2">No Records found</div>
                </ng-template>
            </div>
        </div>

    </div>